/* List */
.page-header {
	display: flex;
	justify-content: space-between;
}

.page-nav a{
	margin-right: 1rem;
}
/* List Item */
.list-item {
	margin-bottom: 2.5rem;
}

.list-item-main {
	display: flex;
	align-items: center;
}

.list-item-img {
	width: 100px;
	margin-right: 2rem;
}

@media(max-width: 500px) {
	.list-item-img {
		width: 50px;
	}
}

.list-item-content {
	flex: 1;
}

.list-item-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.list-item-title {
	font-size: 2rem;
	font-weight: 500;
	color: #33c3f0;
	text-decoration: none;
}

.edit-button {
	text-decoration: none;
}

.list-item-info {
	display: flex;
	color: #999;
	font-size: 1.3rem;
}

.list-item-date {
	font-weight: 300;
}

.list-item-location {
	color: #33c3f0;
	margin-right: 1rem;
}

.list-item-coffee-count {
	margin-right: 1rem;
}

.new-coffee-button {
	color: #61d67c;
	text-decoration: none;
}
.new-coffee-button:hover {
	color: #2aa246;
}

.list-item .reveal {
	margin-left: calc(100px + 2rem);
}

/* Reveal */
.reveal {
	height: 0px;
	overflow: hidden;
}

.reveal-active {
	height: 100%;
}

/* Table */

.table {
	width: 100%;
}

.align-right {
	text-align: right;
}

/* Form */

.auto-form {
	width: 70%;
}

.text-area, .text-input, .number-input{
	width: 100%;
}

.form-subtitle {
    font-size: 20px;
    font-weight: 600;
    margin: 50px 0px;
}

/* Location Input*/

.location-input-controls .number-form-control:last-child {
	margin-left: 1rem;
}

.location-input-controls {
	margin-right: 2rem;
	display: flex;
}

.location-input-city-state {
	margin-right: 2rem;
	text-align: center;
}

.location-input img {
	border-radius: 10px;
}

/* Radio Input */

.radio-group{
	display: flex;
	align-items: center;
}

.radio-form-control {
	display: flex;
	justify-content: space-around;
}

input[type='radio'] {
	margin-bottom: 0;
}

.radio-input-label {
	margin-left: 5px;
	margin-bottom: 0;
	font-weight: 400;
}

/* Coffee Edit/Create Page*/
.coffee-from {
	color: #33c3f0;
}

.delete-button {
	margin-left: 1rem;
}
.delete-button:hover {
	background: #EB4334;
	color: white;
	border-color: #EB4334;
}

/* Order Page */

.order-item {
	display: flex;
	flex-direction: column;
	margin-bottom: 2.5rem;
	border-left: 4px solid #eee;
	padding-left: 1rem;
}

.order-status-0{
	border-color: #EB4334;
}
.order-status-1{
	border-color: #EC8A3A;
}
.order-status-2{
	border-color: #34CF59;
}
.order-status {
	margin-left: 0.5rem;
	color: #aaa;
}
.order-status:hover {
	color: #888;
	cursor: pointer;
}

.order-item-info {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.order-item-name {
	font-size: 2rem;
	font-weight: 500;
}
.order-item-name a {
	text-decoration: none;
}
.order-payment-status {
	color: white;
	font-weight: 100;
	font-size: 1.4rem;
	text-transform: lowercase;
	padding: 2px 6px;
	text-decoration: none;
	border-radius: 5px;
}
.order-payment-status:hover {
	color: white;
}
.pay-success {
	background: #34CF59;
}
.pay-failed {
	background: #C82F3C;
}
.order-item-shipping {
	
}
.order-item-shipping span{
	font-weight: 600;
}
.order-item-footer {
	display: flex;
	font-size: 1.3rem;
	color: #666;
	align-item: center;
}
.order-item-date {
	font-weight: 200;
}
.order-item-toggle {
	color: #33c3f0;
}
.order-item-toggle:hover {
	cursor: pointer;
	color: #2DACD4;
}

tfoot {
	font-weight: 600;
	color: #33c3f0;
}

.order-cart-roaster {
	color: #33c3f0;
	font-size: 1.1rem;
	display: block;
	font-weight: 500;
}

.featured-item {
	max-width: 700px;
	position: relative;

}

.featured-item-img {
	max-width: 100%
}

.featured-item-info {
	display: flex;
	align-items: center;
	box-sizing: border-box;
	display: flex;
	justify-content: flex-end;
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	padding: 1.5rem;
	background: rgba(255, 255, 255, 0.9);
}
.featured-item-name {
	font-size: 1.8rem;
	font-weight: 500;
	text-decoration: none;
	margin-right: 1.5rem;
}
.featured-item-edit {

}
/* Util */

.flex-spacer {
	flex: 1;
}

.flex-center {
	display: flex;
	justify-content: center;
}

.flex-center-full {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flex-center-column {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.flex-center-column-hz {
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* Random Sweet Alert Fix */
.sweet-alert button {
	padding: 0 30px;
	color: white;
}
